.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f1f1f1;
}
.form-wrapper {
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form {
	display: flex;
	flex-direction: column;
}
.form-wrapper h1 {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	color: #4e3b61;
	text-align: center;
}
.form label {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.form label p {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 18px;
	color: #514747;
}
.form input {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
}
.form button {
	padding: 10px;
	background-color: #4e7779;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.form button:hover {
	background-color: #30494a;
}
